<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Disponible</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies" [ngClass]="{'promotion': movie.promotion}">
            <td><img [src]="movie.image" [alt]="movie.name"></td>
            <td>{{movie.name}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.price}}</td>
            <td><span *ngIf="movie.disponible==false" class="badge text-bg-danger">NO ESTA DISPONIBLE</span></td>
        </tr>
    </tbody>
</table>
