<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Disponible</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="movie.image" [alt]="movie.name"></td>
            <td>{{movie.name}}</td>
            <td>{{movie.genre}}</td>
            <td>{{movie.price}}</td>
            <td>{{movie.disponible}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
