<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Rebate</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The God Father</td>
            <td>2</td>
            <td>10%</td>
            <td>$22</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
